table {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  table-layout: fixed;
  font-family: Roboto, sans-serif;
}

th {
  font-weight: normal;
  font-size: 12px;
  padding-left: 24px;
  padding-right: 24px;
  height: 56px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(158, 158, 158);
  position: relative;
  background-color: inherit;
}

td {
  padding-left: 24px;
  padding-right: 24px;
  height: 48px;
  text-align: left;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: inherit;
}

tr {
  border-bottom: 1px solid rgb(224, 224, 224);
  color: rgba(0, 0, 0, 0.870588);
  height: 48px;
}

.checkbox {
  width: 24px;
  cursor: inherit;
}